*/target
sts-share/target
sts-repo/target
solr/solr_home
alf_data_dev
share.log
alfresco.log
solr.log
.DS_Store
alfresco-consulting-repo-utils/.classpath
alfresco-consulting-repo-utils/.project
alfresco-consulting-repo-utils/.settings
*~
.DS_Store
request.xml
response.xml
.idea
.metadata
RemoteSystemsTempFiles
Servers
modules/alfresco/overlays
modules/share/overlays
modules/solr/solr_home
*.releaseBackup
release.properties
.settings/*
*.iml
alf_data_dev
*log.[0-9]*
*.swp
*.swo
target
share/overlays
alfresco/overlays
solr/solr_home
overlays
.settings
*.log
.classpath
.project
*.iml
